<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">Operacion</th>
      <th scope="col" class="text-center">Valor</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let valor of listaValores">
      
      <th scope="row">
        <div *ngIf="valor.operacion == 'Agregar'">
            {{valor.signo}}
        </div>
        <div *ngIf="valor.operacion != 'Agregar'">
            Total {{valor.operacion}}
        </div>
      </th>
      <td class="text-center" >
        
          {{valor.valorOperacion}}
      </td>
    </tr>
    
  </tbody>
  
</table> 